TOKEN_URL=https://test.loginproxy.gov.bc.ca/auth/realms/forests/protocol/openid-connect/token
CLIENT_ID=lexis-nexcol-test
CLIENT_SECRET=
LEXIS_GATEWAY_BASE_URL=https://nr-lexis-nexcol-test-api-gov-bc-ca.test.api.gov.bc.ca
OPENAPI_SPEC_URL=https://raw.githubusercontent.com/bcgov/nr-lexis/main/gateway/openapi.yaml
OPENAPI_CONSOLE_URL=https://openapi.apps.gov.bc.ca/?url=https://raw.githubusercontent.com/bcgov/nr-lexis/main/gateway/openapi.yaml
VALID_XML_FILE=
