.lexis-status-tag {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  block-size: 1.5rem;
  padding-inline: 0.625rem;
  border: 0;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.25rem;
  white-space: nowrap;
}

.lexis-status-tag[data-status-variant='positive'] {
  background: #cce5cc;
  color: #005500;
}

.lexis-status-tag[data-status-variant='informative'] {
  background: #c2e0ff;
  color: #00478f;
}

.lexis-status-tag[data-status-variant='draft'] {
  background: #e2ccf8;
  color: #5702af;
}

.lexis-status-tag[data-status-variant='pending'] {
  background: #f2e8b5;
  color: #443904;
}

.lexis-status-tag[data-status-variant='negative'] {
  background: #ffe5f2;
  color: #800241;
}

.lexis-status-tag[data-status-variant='expired'] {
  background: #ebdacb;
  color: #492708;
}

.lexis-status-tag[data-status-variant='cancelled'] {
  background: #ffc0b3;
  color: #801701;
}

.lexis-status-tag[data-status-variant='retired'] {
  background: #a6afdd;
  color: #071140;
}

.lexis-status-tag[data-status-variant='deleted'] {
  background: #dfcddf;
  color: #3f123f;
}

.lexis-status-tag[data-status-variant='updated'] {
  background: #b3fef1;
  color: #004c3f;
}

.lexis-status-tag[data-status-variant='neutral'] {
  background: #e0e0e0;
  color: #393939;
}
